# local usage files
/projects/
/experiments/
/test/

# Ignore editor configurations
.vscode/
.idea/
*.swp
*.swo

# Ignore system and temporary files
.DS_Store
*.log
*.tmp
Thumbs.db
desktop.ini

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
.ipynb_checkpoints/

# Ignore Python package build files
*.egg-info/
dist/
build/
*.egg
.eggs/

# Ignore R history files
.Rhistory
.RData
.Rproj.user/

# Ignore MATLAB temporary files
*.asv
*.m~

# 忽略编辑器配置
.vscode/
.idea/
*.swp
*.swo
